.contact-form{
    padding: 0 3rem 0 3rem 0;
    display: flex;
    height: 80vh;
    margin-top: 8rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex:1 ;
}
.c-right>form{
    display:flex;
    flex-direction:column;
    gap: 2rem;
    align-items:center;

}
.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius:8px;
    font-size: 16px;
}
textarea{
    height: 4rem !important;
}
.c-blur1{
    top: 1rem;
    left:8rem;
}



/* CSS */
.s-button{
  align-items: center;
  appearance: none;
  background-color: var(--orange);
  border-radius: 25px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.s-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.s-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--orange) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.s-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}